<!DOCTYPE html>
<html>
<head>
<title>The Genetic Fishbowl</title>
<link rel="stylesheet" type="text/css" href="style.css"></link>
<link rel="icon" type="image/png" href="favicon.png">
<script src="https://code.createjs.com/easeljs-0.8.1.min.js"></script>
<script src="main.min.js"></script>
</head>
<body onload="init()">

<header>
<h1>The Genetic Fishbowl</h1>
</header>

<nav>
<ul>
	<li><a href="./index.html">The Fishbowl</a></li>
	<li><a href="./introduction.html">How to Play</a></li>
	<li><a href="./fish.html">The Fish</a></li>
	<li><a href="./selection.html">Selection</a></li>
	<li><a href="./crossover.html">Crossover</a></li>
	<li><a href="./mutation.html">Mutation</a></li>
</ul>
</nav>

<div class="content">
<section class="canvasHolder">
<canvas id="canvas" width="800" height="600"></canvas>
</section>

<aside>
<form onsubmit="return false">
<b>Population Size:</b>
<input type="number" name="population" value="50" min="3" max="100"><br>
<b>Generation Mode:</b><br>
<input type="radio" name="generation" value="iterative" checked> Iterative<br>
<input type="radio" name="generation" value="continuous"> Continuous<br>
<b>Selection Algorithm</b><br>
<input type="radio" name="selection" value="roulette" checked> Roulette<br>
<input type="radio" name="selection" value="tournament"> Tournament<br>
<input type="radio" name="selection" value="truncation"> Truncation<br>
<b>Crossover Rate:</b>
<input type="number" name="crossoverRate" value="70" min="0" max="100">%<br>
<b>Crossover Technique</b><br>
<input type="radio" name="crossoverMethod" value="onePoint" checked> One-Point Crossover<br>
<input type="radio" name="crossoverMethod" value="twoPoint"> Two-Point Crossover<br>
<input type="radio" name="crossoverMethod" value="uniform"> Uniform Crossover<br>
<b>Mutation:</b>
<input type="number" name="mutation" value="5" min="0" max="100">%<br>
<b>Dynamic Mutation Rate:</b>
<input type="checkbox" name="dynamicMutation" checked><br>
<input type="submit" name="submit" value="New Population">
</form>
</aside>
<br class="clear">
</div>

<footer>
Created by Finn Voichick, Kevin Wang, and Davis Haupt
</footer>
</body>
</html>
