body {
	margin: 0px;
	font-family: sans-serif;
	background-color: #006464;
	color:#006464;
}
canvas {
	border:1px solid #006464;
}
header {
	margin: 0px;
	background-color: #006464;
	color: #A4FFFF;
	text-align: center;
	padding: 5px;
	font-weight:bold;
}
nav {
	margin: 0px;
	height: 26px;
	background-color: #70FFFF;
	font-weight:bold;
}
section {
    float:left;
    padding:10px;
	background-color: white;
	overflow: auto;
}
section.canvasHolder {
	height: 602px;
	overflow: hidden;
}
aside {
	background-color: white;
	padding: 10px;
	height: 602px;
	overflow:auto;
}
footer {
    background-color: #006464;
    color: #A4FFFF;
    clear: both;
    text-align: center;
    padding: 10px;
}
p {
	font-size: large;
}
ul {
	margin: 0px;
	padding: 0px;
	height: 30px;
	list-style-type: none;
}
li {
	float:left;
}
a:link, a:visited {
	display: block;
	width: 200px;
	color: #006464;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover, a:active {
	background-color: #008282;
	color: #A4FFFF;
}
a.inline {
	display: initial;
	color: initial;
	background-color: initial;
	text-transform: initial;
	padding: initial;
	color: #008282;
}
a.inline:hover, a.inline:active {
	text-decoration: underline;
	color: #00FFFF;
}
